form {
    width: 80%;
    margin: auto;
    background-color: #006580;
    border: 1px solid #545454;
    border-radius: 10px 5px;;
    padding: 40px;
}

input {
    width: 100%;
    line-height: 20px;
    margin: 10px auto;
}

#button {
  background-color: #8e9aa5;
}
